# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
/ConsoleFPS/Debug/*.exe
/ConsoleFPS/Debug/*.out
/ConsoleFPS/Debug/*.app
/ConsoleFPS.tlog
Debug
Release

# Visual Studio Files
/.vs
/.vscode